.player-container {
    background-color: #fff;
}

.select-container {
    margin-top: 10px;
}

.select-container select {
    padding: 5px;
    font-size: 1em;
}

.playerIdentification,
.characteristics {
    background-color: rgb(200, 200, 200);
    margin: 5px;
    padding: 5px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}

.identifier {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.label {
    font-weight: bold;
    margin: 0 10px;
}

.value {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-weight: normal;
    border: 1px solid black;
    border-radius: 5px;
}

.stats,
.skills,
.otherStuff {
    width: 15%;
    background-color: rgb(200, 200, 200);
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 550px;
}

.secondLayer {
    display: flex;
}

.skills {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#skill {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.inspiration {
    display: flex;
}

.inspirationButtons {
    display: flex;
    flex-direction: column;
}

.topRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#topRowNumber {
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.middleRow {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.hp,
.temporaryHP {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 80%;
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
}

#currentHp {
    height: 100%;
    display: flex;
    align-items: center;
}

#maxHitPoints {
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

#maxHitPoints u {
    margin-left: 5px;
}

.temporaryHP {
    justify-content: center;
}

.topRow button,
#insideButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.bottomRow {
    height: 10%;
    display: flex;
    width: 100%;
}

.hitDie,
.deathSaves {
    padding: 5px;
    margin: 5px;
    height: 100%;
    max-width: 50%;
    display: flex;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.deathSaves {
    flex-direction: column;
}

#fails,
#success {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    align-items: center;
}

#fails div,
#success div {
    display: flex;
}

.savingThrows {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: normal;
    border: 1px solid black;
}

#savingThrowsLabel {
    width: 100%;
    text-align: center;
}

#inventoryLabel {
    width: 100%;
    display: flex;
    justify-content: center;
}

#inventoryPanel {
    width: 400px;
    padding: 5px;
}

.inventoryButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.inventoryList {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 5px;
    padding: 5px;
}

#inventoryItem {
    margin-right: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}